body {
    background-color: #000000;
}

h1 {
    color: white;
    text-align: center;
}

#days {
    text-align: center;
    color: white;
}

.circular-deer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
    
}   
@media screen and (max-width: 800px) {
    .circular-deer img { 
    width: 60%; 
    height: 100%; 
    border-radius: 40%;
}

