body {
    background-color: #000000;
}

h1 {
    color: white;
    text-align: center;
}

#days {
    text-align: center;
    color: white;
}

div {
    width: auto;
    display: block;
}

.circular-deer {
    width: auto;
    display: block;
}

@media only screen and (min-width: 414px) {
    img {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;

    }
    h1 {
        font-size: 28px;
    }
}

@media only screen and (min-width: 375px) {
    img {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;

    }
    h1 {
        font-size: 22px;
    }
}
